@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* css rules to specify families
             font-family: 'Shrikhand', cursive;  
             font-family: 'Roboto', sans-serif; */
@-webkit-keyframes checkbox {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.85);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes checkbox {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.85);
  }
  100% {
    transform: scaleX(1);
  }
}
.btnzone {
  display: flex;
  justify-content: center;
}
.btnzone .btn {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 218px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  margin: 40px 0 40px 0;
  cursor: pointer;
  transition: all 4000ms linear;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btnzone .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header .fa-arrow-left {
  font-size: 22px;
  color: #353535;
  position: relative;
  right: 60px;
}
.header__logo {
  width: 162px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  height: 197px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 25px;
  position: relative;
  transform: translate(0, -35px);
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0;
  color: white;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 11px;
  line-height: 25px;
}
.footer__nav a i {
  font-size: 13px;
}

@media screen and (min-width: 700px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 114px;
    padding-left: 0px;
  }
  .footer__logo {
    padding: 0;
  }
  .footer__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    width: 100%;
  }
  .footer__nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    line-height: 17px;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    padding-left: 0;
  }
  .footer__logo {
    padding: 0 20px;
  }
  .footer__nav {
    width: 70%;
  }
  .footer__nav a {
    flex-direction: row;
    align-items: center;
    gap: 11px;
    font-size: 14px;
  }
}
.formulaire {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
.formulaire .fa-location-dot {
  font-size: 16px;
  padding-right: 17px;
}
.formulaire__location {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  width: 40%;
  background-color: #EAEAEA;
}

@media screen and (min-width: 700px) {
  .formulaire {
    justify-content: flex-start;
    padding-left: 17px;
  }
  .formulaire .fa-location-dot {
    padding-right: 0;
  }
  .formulaire__location {
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  .formulaire {
    padding-left: 80px;
  }
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  background: #F6F6F6;
  border-radius: 35px 35px 0 0;
  position: relative;
  transform: translate(0, -35px);
}
.menu__title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: 400;
}
.menu__title .hearts :first-child {
  padding-right: 10px;
  font-size: 22px;
  color: black;
  position: absolute;
  opacity: 1;
}
.menu__title .hearts :first-child:active {
  opacity: 0;
}
.menu__title .hearts :nth-child(2) {
  padding-right: 10px;
  font-size: 22px;
  background: -webkit-linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 2px;
  right: 0;
  opacity: 0;
  transition: opacity 2000ms;
}
.menu__title .hearts :nth-child(2):active {
  opacity: 1;
}
.menu h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
.menu .fa-minus {
  font-size: 40px;
  color: #99E2D0;
}
.menu .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  height: 69px;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 12px;
}
.menu .category__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu .category__text .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 11px;
}
.menu .category__text .details h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
}
.menu .category__text .details h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding-top: 3px;
  font-size: 17px;
  font-weight: 300;
}
.menu .category__text .price {
  font-size: 15px;
  font-weight: 700;
}
.menu .category__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  height: 100%;
  color: white;
  font-size: 20px;
  opacity: 0;
}
.menu .category__checkbox:active {
  transform-origin: right;
  width: 59px;
  opacity: 1;
  animation: checkbox 1000ms;
  -webkit-animation: checkbox 1000ms;
  -moz-animation: checkbox 1000ms;
  -o-animation: checkbox 1000ms;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

* {
  box-sizing: border-box;
  list-style: none;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h2, h3, h4, p {
  font-family: "Roboto", sans-serif;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  background: #F6F6F6;
  font-family: "Roboto", sans-serif;
}
.introduction :first-child {
  font-size: 24px;
  font-weight: 700;
}
.introduction :nth-child(2) {
  font-size: 18px;
  font-weight: 300;
}
.introduction :last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 218px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  margin: 40px 0 40px 0;
  cursor: pointer;
}
.introduction :last-child:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.fonctionnement {
  padding: 0 17px;
  min-height: 300px;
}
.fonctionnement h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
}
.fonctionnement .LesEtapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 0 25px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement .LesEtapes .etape {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;
  height: 72px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
}
.fonctionnement .LesEtapes .etape :nth-child(2) {
  font-size: 20px;
  color: #7E7E7E;
  padding-right: 20px;
}
.fonctionnement .LesEtapes .etape:hover {
  background-color: #F5EDFF;
}
.fonctionnement .LesEtapes .etape:hover :nth-child(2) {
  color: #9356DC;
}
.fonctionnement .LesEtapes .etape :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 0 17px;
  background: #F6F6F6;
  font-family: "Roboto", sans-serif;
}
.restaurants h1 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 700;
}
.restaurants .LesCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  min-height: 1100px;
}
.restaurants .LesCards .card {
  height: 251px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 15px;
  position: relative;
}
.restaurants .LesCards .card p {
  position: absolute;
  right: 20px;
  background: #99E2D0;
  padding: 7px 9px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
}
.restaurants .LesCards .card img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .LesCards .card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding-left: 15px;
  position: relative;
}
.restaurants .LesCards .card__text h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.restaurants .LesCards .card__text h3 {
  margin: 0;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants .LesCards .card .hearts :first-child {
  font-size: 21px;
  padding-right: 25px;
  padding-bottom: 20px;
  color: black;
  position: absolute;
  opacity: 1;
}
.restaurants .LesCards .card .hearts :first-child:active {
  opacity: 0;
}
.restaurants .LesCards .card .hearts :nth-child(2) {
  font-size: 21px;
  padding-right: 25px;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  opacity: 0;
  transition: opacity 2000ms;
}
.restaurants .LesCards .card .hearts :nth-child(2):active {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .introduction :first-child {
    font-size: 30px;
  }
  .introduction :nth-child(2) {
    font-size: 16px;
  }
  .fonctionnement h2 {
    padding-top: 30px;
  }
  .fonctionnement .LesEtapes {
    margin: 40px 0 30px 0;
  }
  .fonctionnement .LesEtapes .etape {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .introduction {
    padding-bottom: 20px;
  }
  .introduction :first-child {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .introduction :nth-child(2) {
    margin-bottom: 0;
  }
  .fonctionnement {
    min-height: 200px;
    padding: 0 80px 0 80px;
  }
  .fonctionnement .LesEtapes {
    flex-direction: row;
    justify-content: flex-start;
    gap: 70px;
  }
  .fonctionnement .LesEtapes .etape {
    margin-bottom: 60px;
    width: 23%;
  }
  .fonctionnement .LesEtapes .etape :nth-child(2) {
    font-size: 18px;
    padding-right: 10px;
  }
  .restaurants {
    padding: 0 80px;
  }
  .restaurants h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .restaurants .LesCards {
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
  }
  .restaurants .LesCards .card {
    height: 200px;
    width: 24%;
    margin: 0;
  }
  .restaurants .LesCards .card__text {
    padding-left: 10px;
  }
  .restaurants .LesCards .card__text h2 {
    font-size: 15px;
  }
  .restaurants .LesCards .card__text h3 {
    font-size: 14px;
  }
  .restaurants .LesCards .card .hearts :first-child {
    font-size: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .restaurants .LesCards .card .hearts :first-child:hover {
    opacity: 0;
  }
  .restaurants .LesCards .card .hearts :nth-child(2) {
    font-size: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    transition: opacity 1500ms;
  }
  .restaurants .LesCards .card .hearts :nth-child(2):hover {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */