@import"utils/variables";
@import"utils/mixins";
@import"base/typography";
@import"base/animations";
@import"components/buttons";
@import"layouts/headfoot";
@import"layouts/form";
@import"layouts/menus";

* {
    box-sizing: border-box;
    list-style: none;
    margin: auto 0;    
}
#main-wrapper {
    display: flex;
    flex-direction: column;
} 
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h2, h3, h4, p {
    font-family: 'Roboto', sans-serif;
}
.loader {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    animation: fond 0.1ms both 2200ms;
    z-index: 1000;
    &__rotate {
        @include loadershape; 
        width: 100px;
        height: 100px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        animation: spin 1200ms linear infinite;
    }
}
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    background: $mainback;
    font-family: 'Roboto', sans-serif;
    padding: 0 17px;
    :first-child {
        font: {
            size: 24px; weight: 700;
        }
    }
    :nth-child(2) {
        font: {
            size: 18px; weight: 300; 
        }
    }
    :last-child {
        @include btndebase;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $basicbtn;
        box-shadow: $basicshadow;
        transition: all 1400ms linear;
        &:hover {
            background: $btnhover;
            box-shadow: $hovershadow;
        }  
    }
}
.fonctionnement {
    padding: 0 17px;
    min-height: 300px;
    h2 {
        font: {
            family: 'Roboto', sans-serif; size: 24px; weight: 700;
        }
        padding-top: 20px;
    }
    .LesEtapes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 25px 0 25px 0;
        font: {
            family: 'Roboto', sans-serif; size: 16px; weight: 500;
        }
        .etape {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            width: 100%;
            height: 72px;
            background: $mainback;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            position: relative;
            :nth-child(2) {
                font-size: 20px;
                color: #7E7E7E;
                padding-right: 20px;
                }
                &:hover {
                    background-color: #F5EDFF;
                    :nth-child(2) {
                        color: #9356DC;
                    }
            }
            :first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                font-size: 14px;
                background-color: #9356DC;
                color: white;
                border-radius: 50%;
                position: absolute;
                left: -10px;  
            }
        }
    }    
}
.restaurants {
    display: flex;
    flex-direction: column;
    padding: 0 17px;
    background: $mainback;
    font-family: 'Roboto', sans-serif;
    h1 {
        padding-top: 30px;
        font: {
            size: 24px; weight: 700;
        }
    }
    .LesCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 50px;
        min-height: 1100px;
        .card {
            height: 251px;
            width: 100%;
            background: $lightback;
            border-radius: 15px;
            position: relative;
            p {
                position: absolute;
                right: 13px;
                top: 13px;
                background: $elements-ton;
                padding: 7px 9px;
                color: #008766;
                font: {
                    size: 14px; weight: 500;
                }
            } 
            img {
                width: 100%;
                height: 70%;
                border-radius: 15px 15px 0 0;
                object-fit: cover;
            }
 
        &__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 30%;
            padding-left: 15px;
            position: relative;
            h2 {
                margin: 0;
                font: {
                    size: 18px; weight: 700;
                }
            }
            h3 {
                margin: 0;
                padding-top: 5px;
                font: {
                    size: 17px; weight: 300;
                }
            }
        }   
            .hearts :first-child {
                font-size: 21px;  
                padding-right: 25px;
                padding-bottom: 20px;  
                color: black;
                position: absolute;
                opacity: 1;
                &:hover {
                    opacity: 0;                     
                }
            }
            .hearts :nth-child(2) {
                font-size: 21px;
                padding-right: 25px;
                padding-bottom: 20px;
                background: -webkit-linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                background-clip: text;
                -webkit-background-clip: text;
                -ms-background-clip: text;
                -o-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;    
                position: relative;
                opacity: 0;
                transition: opacity 2000ms;
                &:hover {
                    opacity: 1;
                }
            }

        }              
    }
}
// responsive tablette
@media screen and (min-width:700px) {
    .loader {
        &__rotate { 
            width: 125px;
            height: 125px;
        }
    }
    .introduction {
        :first-child {
            font-size: 30px;
        }
        :nth-child(2) {
            font-size: 16px;
        }
    }
    .fonctionnement {
        h2 {
            padding-top: 30px;
        }
        .LesEtapes {
            margin: 40px 0 30px 0;
            .etape {
                width: 80%;
            }
        }    
    }
}
// responsive desktop
@media screen and (min-width:992px) {
    .loader {
        &__rotate { 
            width: 150px;
            height: 150px;
        }
    }
    .introduction {
        justify-content: space-evenly;
        min-height: 260px;
        :first-child {
            font-size: 40px;
            margin: 0px;
        }
        :nth-child(2) {
            margin: 0;
        }
    }
    .fonctionnement {
        min-height: 200px;
        padding: 20px 190px;
        h2 {
            padding-top: 0;
        }
        .LesEtapes {
            flex-direction: row;
            justify-content: space-between;
            .etape {
                margin-bottom: 0;
                width: 30%;
                :nth-child(2) {
                    font-size: 18px;
                    padding-right: 10px;
                }
            }
        }    
    }
    .restaurants {
        padding: 0 190px;
        h1 {
            font: {
                size: 24px; weight: 700;
            }
        } 
        .LesCards {
            flex-direction: row;
            justify-content: space-between;
            min-height: 300px;
            .card {
                height: 200px;
                width: 24%;
                margin: 0;
            &__text {
                padding-left: 10px;
                h2 {
                    font-size: 15px;
                }
                h3 {
                    font-size: 14px;
                }
            }   
                .hearts :first-child {
                    font-size: 20px;  
                    padding-right: 15px;
                    padding-bottom: 10px;  
                }
                .hearts :nth-child(2) {
                    font-size: 20px;
                    padding-right: 15px;
                    padding-bottom: 15px;
                    transition: opacity 1500ms;
                }
            }              
        }
    }
}

