.btnzone {
    display: flex;
    justify-content: center;
    .btn {
        @include btndebase;
        background: $basicbtn;
        box-shadow: $basicshadow;
        transition: all 1100ms ease-out; 
        &:hover {
            background: $btnhover;
            box-shadow: $hovershadow;
        }
    }
}
