@keyframes checkbox {
    0% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(0.85);
    }
    100% {
        transform: scaleX(1);
    }
}
// loader:
@keyframes fond {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
// apparitions blocs
@keyframes appearance {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    20% {
        opacity: 0.5;    
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

