.formulaire {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #EAEAEA;
    .fa-location-dot {
        font-size: 16px;
        padding-right: 17px;
    } 
    &__location {
        font: {
        family: 'Roboto', sans-serif; weight: 500; size: 16px;
        } 
        border: none;
        width: 40%;
        background-color: #EAEAEA;
    }
    
}